* {
    box-sizing: border-box;
}
/*NAV BAR*/
nav {
    position: fixed;
    top: 0;
    width: 99%;
    z-index: 5;
    height: 69px;
    background-color: black;
    text-align: right;
    border-bottom: 1px solid seashell;
    font-family: helvetica;
    font-size: 22px;

}

nav img {
    height: 50px;
    float: left;
    margin-top: -10px;
    margin-left: 10px;

}
nav ul {
    padding-right: 20px;

}

nav li {
    display: inline-block;
    padding-top: 7px;
    padding-right: 10px;
    color: white;
    text-decoration: underline;

}
/*NAV BAR*/


/*BLOCK1*/
.hero-image {
  background-color: black;
  color: white;
    height: 920px;

}

.flower-tea {
  height: 900px;
  position: relative;
  left: 150px;
}
.text {
  position: relative;
  bottom: 500px;
  background-color: black;
  text-align: center;
  padding: .3px;
  font-size: 22px;
  font-family: helvetica;

}
/*BLOCK1*/


/*BLOCK2*/
.block2 {
    background-color: black;
    width: 100%;
    height: 850px;
    
  
}
.text2, h2 h4 {
    color: white;
    padding-top: 30px;
    text-align: center;
    font-family: helvetica;
    font-size: 22px;
    
}
.pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
    
}

.pics img {
    height: 200px;
    width: 300px;
    margin: 20px;
    
    flex-shrink: 0;
    justify-content: center;

}
.pics, h4 {
    color: white;
    text-align: center;
    font-family: helvetica;
    margin-top: 0px;
    font-size: 22px;
}
/*BLOCK2*/

/*BLOCK3*/
.block3 {
    background-color: black;
    padding-bottom: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block3 img {
    height: 700px;
    
}
    
}
.cup {
    height: 650px;
     justify-content: center;
    
}

.locations {
    justify-content: center;
    color: white;
    position: relative;
    left: 35em;
    bottom: 30em;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
}
.downtown {
    position: relative;
    right: 400px;

}
.item {
    background-color: black;
    height: 300px;
    width: 300px;
    color: white;
    position: relative;
    bottom: 30em;
    left: 17em;
    padding-top: 20px;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
}
/*BLOCK3*/

/*FOOTER*/
footer {
    background-color: black;
    color: white;
   position: relative;
    bottom: 33em;
    text-align: center;
    padding-bottom: 30px;
    font-family: Helvetica, sans-serif;
}
footer h1 {
    font-family: Helvetica, sans-serif;
    font-size: 32px;
}
footer h5 {
    font-size: 16px;
}
.left {
    float: left;
    position: relative;
    bottom: 40px;
    left: 15px;
}
/*FOOTER*/